.center-side{
  grid-area: center;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr max-content;
  grid-gap: 10px;
  &__empty{
    font-size: 24px;
    text-align: center;
    font-family: "montserrat", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: grey;
  }
  &__top{
    display: grid;
    grid-template-columns: 300px 1fr 300px;
    grid-gap: 10px;
  }
}
.card{
  &__title{
    font-size: 26px;
    font-family: "montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.8px;
  }
  &__info-text{
    padding: 8px 0 8px 0;
    border-bottom: 1px solid grey;
    color: grey;
    font-family: "montserrat", sans-serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.8px;
    font-size: 13px;
    margin: 0;
    & span {
      color: black;
      margin: 0 0 0 20px;
      font-weight: 400;
    }
  }
  &__comment{
    margin: 20px 0 0 0;
    &-title{
      font-weight: 700;
      font-size: 15px;
      color: grey;
      font-family: "montserrat", sans-serif;
      font-style: normal;
      letter-spacing: 0.8px;
    }
    &-field{
      width: 100%;
      resize: none;
      margin: 10px 0 0 0;
      box-sizing: border-box;
    }
  }
}
.slider__item {
  flex: 0 0 16.666%;
  max-width: 16.666%;
}
.slider__photo{
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  cursor: pointer;
  border: none;
  position: relative;
}
.slider__status{
  position: absolute;
  top: 10px;
  right: 25px;
}
.slider__select{
  border: 3px solid #2067B0;
}
.photo{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  &__img{
    width: 80%;
    height: 600px;
    object-fit: contain;
    cursor: pointer;
  }
  &__status{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 44px;
    height: 44px;
  }
}
.bottom{
  display: grid;
  grid-template-columns: 300px 1fr 300px;
  padding: 10px 0;
  &__left{
    display: flex;
  }
  &__center{
    display: flex;
    justify-content: center;
  }
}