body{
  margin: 0 auto;
  padding: 0;
}
@font-face {
  font-family: 'montserrat';
  src: url("../fonts/Montserrat-Regular.ttf");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: 'montserrat';
  src: url("../fonts/Montserrat-Bold.ttf");
  font-weight: 700;
  font-style: normal
}
.main{
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas:
    "left header header"
    "left center right"
    "footer footer right";
  height: 100vh;
}

.input{
  width: 100%;
  border-radius: 5px;
  border: 1px solid grey;
  outline: none;
  padding: 10px;
  font-size: 12px;
  font-family: 'montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: grey;
  box-sizing: border-box;
  &::placeholder{
    opacity: .5;
  }
  &__search{
    border-radius: 20px;
    padding: 5px 10px;
  }
}
.button{
  border-radius: 5px;
  outline: none;
  padding: 10px;
  font-size: 12px;
  font-family: 'montserrat', sans-serif;
  font-weight: 700;
  font-style: normal;
  color: white;
  background-color: grey;
  border: 1px solid grey;
  text-transform: uppercase;
  box-sizing: border-box;
  margin: 0 10px 0 0;
  letter-spacing: 0.6px;
  cursor: pointer;
  text-decoration: none;
  &:hover{
    background-color: #545353;
    border: 1px solid #545353;
  }
  &:active{
    background-color: #cbcaca;
  }
  &:last-child{
    margin: 0;
  }
  &_approved{
    background-color: #bbed21;
    color: #535c69;
    border: 1px solid #bbed21;
    &:hover{
      background-color: #d2f95f;
      border: 1px solid #d2f95f;
    }
    &:active{
      background-color: #b2e232;
      border: 1px solid #b2e232;
    }
  }
  &_denied{
    background-color: white;
    color: #535c69;
    border: 1px solid #535c69;
    &:hover{
      background-color: #cfd4d8;
      border: 1px solid #c6cdd3;
    }
    &:active{
      background-color: #dde2e5;
      border: 1px solid #9fa4ab;
    }
  }
}

.btn__status{
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  pointer-events: none;
  &_approved{
    background-color: #BBED21;
    background-image: url("../img/approved.svg");
  }
  &_denied{
    background-color: #ED2121;
    background-image: url("../img/denied.svg");
  }
  &_question{
    background-color: #d5d5d5;
    background-image: url("../img/question-mark.svg");
  }
}

/* SCROLLBAR */
/* Let's get this party started */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: grey;
  border: 4px solid transparent;
  background-clip: content-box;   // this is important
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(97, 97, 97);
  border: 1px solid grey;
}
.module{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #373737b3;
  z-index: 5;
  display: flex;
  align-items: center;
  overflow: auto;
  &__img{
    height: 100%;
    margin: auto;
    max-width: 100%;
    object-fit: contain;
  }
  &__close{
    position: fixed;
    z-index: 5;
    background-image: url("../img/close.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    width: 30px;
    height: 30px;
    opacity: .5;
    top: 20px;
    right: 20px;
    cursor: pointer;
    transition:
            opacity .3s,
            transform .3s;
    &:hover{
      opacity: 1;
    }
    &:active{
      transform: scale(1.3);
    }
  }
  &__controller{
    position: fixed;
    z-index: 5;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  &__btn{
    display: block;
    width: 45px;
    height: 45px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    background-color: #b4b4b478;
    margin: 0 20px 0 0;
    border-radius: 20px;
    cursor: pointer;
    &:last-child{
      margin: 0;
    }
  }
  &__left{
    background-image: url("../img/arrow-around-left.svg");
  }
  &__right{
    background-image: url("../img/arrow-around-right.svg");
  }
  &__zoom-plus{
    background-image: url("../img/zoom-plus.svg");
  }
  &__zoom-minus{
    background-image: url("../img/zoom-minus.svg");
  }
  &__download{
    background-image: url("../img/download.svg");
  }
}