.inJob{
  display: flex;
  padding: 5px;
  box-sizing: border-box;
  height: 5%;
  &__label{
    text-align: center;
    width: 100%;
    border: 1px solid black;
    padding: 10px;
    border-radius: 50px;
    font-family: "montserrat", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
  }
  &__checkbox{
    appearance: none;
    margin: 0;
    &:checked ~.inJob__label{
      background-color: #42c327;
      color: white;
      border: 1px solid #3a8625;
    }
  }
}
.items{
  background: #C4C4C4;
  height: 95%;
  border-radius: 5px;
  overflow: auto;
  padding: 10px;
  box-sizing: border-box;
}
.item{
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  margin:  0 0 10px 0;
  cursor: pointer;
  &:hover{
    background-color: #a7a7a7;
  }
  &:active{
    background-color: #ffffff;
  }
  &:last-child{
    margin: 0;
  }
  &__text{
    font-family: "montserrat", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    display: block;
    text-align: center;
    user-select: none;
    pointer-events: none;
  }
  &__title{
    font-weight: 700;
  }
  &__active{
    border: 1px solid #147f00;
    background-color: #c7fff5;
  }
}