body {
  margin: 0 auto;
}

@font-face {
  font-family: "montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "montserrat";
  src: url("../fonts/Montserrat-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
.main {
  display: grid;
  grid-template-columns: 15% 1fr;
  grid-template-rows: 100vh;
  grid-gap: 10px;
}

.title {
  font-family: "montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  display: block;
  width: 100%;
  text-transform: uppercase;
  border-bottom: 1px solid black;
}

.subtitle {
  font-family: "montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.input__text {
  padding: 5px;
  border-radius: 5px;
  font-family: "montserrat", sans-serif;
  outline: none;
  border: 1px solid #000000;
}
.input__area {
  font-family: "montserrat", sans-serif;
  resize: none;
  border-radius: 5px;
  outline: none;
  width: 100%;
  padding: 5px;
}
.input__select {
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  padding: 5px 15px 5px 5px;
}

.carousel {
  margin: 10px 0;
}

.slider__item {
  flex: 0 0 33.333%;
  max-width: 33.333%;
}

.slider__photo {
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 3px solid white;
}

.button-label {
  text-transform: uppercase;
  background-color: #fff;
  padding: 10px;
  color: #868d95;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid #c4c4c4;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  border-radius: 5px;
}

.button-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: none;
  margin: 0;
}
.button-input:checked + .button-label {
  background: #868d95;
  color: #ffffff;
}

.inVisible {
  display: none;
}

.inJob {
  display: flex;
  padding: 5px;
  box-sizing: border-box;
  height: 5%;
}
.inJob__label {
  text-align: center;
  width: 100%;
  border: 1px solid black;
  padding: 10px;
  border-radius: 50px;
  font-family: "montserrat", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inJob__checkbox {
  appearance: none;
  margin: 0;
}
.inJob__checkbox:checked ~ .inJob__label {
  background-color: #42c327;
  color: white;
  border: 1px solid #3a8625;
}

.items {
  background: #C4C4C4;
  height: 95%;
  border-radius: 5px;
  overflow: auto;
  padding: 10px;
  box-sizing: border-box;
}

.item {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  margin: 0 0 10px 0;
  cursor: pointer;
}
.item:hover {
  background-color: #a7a7a7;
}
.item:active {
  background-color: #ffffff;
}
.item:last-child {
  margin: 0;
}
.item__text {
  font-family: "montserrat", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  display: block;
  text-align: center;
  user-select: none;
  pointer-events: none;
}
.item__title {
  font-weight: 700;
}
.item__active {
  border: 1px solid #147f00;
  background-color: #c7fff5;
}

.right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 80% 1fr;
  grid-gap: 10px;
}
.right__title {
  font-family: "montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  text-decoration-line: underline;
}

.client {
  border-radius: 5px;
  background: #C4C4C4;
  padding: 10px;
}

.about {
  padding: 20px;
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
}
.about__item {
  display: grid;
  grid-template-columns: 20% 1fr;
  align-items: center;
  width: 100%;
  grid-gap: 10px;
  position: relative;
}
.about__select {
  background-color: white;
  position: absolute;
  margin: 10px 0 0 0;
  box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
  padding: 5px 0;
  z-index: 5;
  width: 100%;
  overflow: auto;
  border-radius: 5px;
  max-height: 200px;
}
.about__select_last {
  bottom: 28px;
  margin: 0 0 10px 0;
}
.about__option {
  width: 100%;
  display: block;
  padding: 10px;
  cursor: pointer;
  box-sizing: border-box;
  white-space: nowrap;
  user-select: none;
  font-weight: 400;
  font-family: "montserrat", sans-serif;
  font-size: 13px;
  font-style: normal;
  letter-spacing: 0.8px;
}
.about__option:hover {
  background: #f2f2f2;
}
.about__container {
  position: relative;
  width: 100%;
}
.about__container::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-image: url("../img/arrow-down.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translate(0, -50%);
}

.object {
  border-radius: 5px;
  background: #C4C4C4;
  padding: 10px;
  overflow: auto;
}
.object__header {
  display: flex;
  justify-content: space-between;
}
.object__change {
  display: flex;
  justify-content: space-between;
  margin: 0 0 10px 0;
}
.object__feature {
  display: flex;
  gap: 10px;
  margin: 0 0 10px 0;
}
.object__rooms {
  display: flex;
  gap: 10px;
}

.comment {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info {
  border-radius: 5px;
  grid-column-start: 1;
  grid-column-end: 3;
  background: #C4C4C4;
}

/*# sourceMappingURL=style.css.map */
